<!-- <app-header></app-header>
<app-comp (newTaskEvent)="addTask($event)"></app-comp>
<div style="display: table;margin: 0 auto;text-align: left;" id="checklist">
<ul class="check-list">
  <li *ngFor="let task of tasks">{{task}}</li>
</ul>
</div> -->
<!-- <app-counter></app-counter> -->
<!-- <ng-template let-class="obj" #priceTemplate><h1>The Price is {{class}}</h1></ng-template>
<ng-container [ngTemplateOutlet]="priceTemplate" [ngTemplateOutletContext]="{obj:2000}"></ng-container>
<ng-container *ngTemplateOutlet="priceTemplate; context:{obj:2000}"></ng-container> -->


<app-user-form></app-user-form>

<!-- <h1>{{1000000000000000000000000000000000 | cube}}</h1> -->



<!-- <h1>{{todayDate}} -- service </h1> -->
